<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Aviato E-Commerce Template">
  
  <meta name="author" content="Themefisher.com">

  <title>Airspace | Creative Agency Bootstrap template</title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
  <!-- bootstrap.min css -->
 
  <!-- Main Stylesheet -->

</head>

<body id="body">

<!-- Header Start -->


<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 id="title">Some of our latest highlights.</h1>
          <p>Don’t just take our word for it. Check out some of our latest work.</p>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- Portfolio Start -->
<section class="portfolio-work">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="portfolio-menu">
            <ul>
              <li class="filter" data-filter="all">All</li>
              <li class="filter" data-filter=".Branding">ARTS</li>
              <li class="filter" data-filter=".Websites">Governer visit</li>
              <li class="filter" data-filter=".Graphic">Members meeting</li>

              <li class="filter" data-filter=".design">Parternship</li>
              <li class="filter" data-filter=".Video">Scholars</li>
              <li class="filter" data-filter=".art">ARTS continued</li>


            </ul>
          </div>
          <div class="portfolio-contant">
            <ul class="portfolio-contant-active text-center portfolio-popup">
              <li class="mix Branding">
                <a class="portfolio-popup" href="assets/img/actualite/children.jpg">
                  <img src="assets/img/actualite/children.jpg" alt="">
                  <div class="item-overly">
                    <div class="position-center">
                      <h4>Rotary Helps
                        Children Discover
                        Arts + Music = Fun!
                        </h4>
                        <p>Arts Discovery Camps served over 60 boys and girls, providing educational enrichment through the arts-- one of a kind program!
                        </p>
                      
                    </div>
                  </div>
                </a>
              </li>
              <li class="mix Websites">
                <a  href="assets/img/actualite/servive.jpg">
                    <img src="assets/img/actualite/servive.jpg" alt="" height="50">
                    <div class="item-overly">
                    <div class="position-center">
                      <h4>District 7690 Governor Claudia Cannady visit.</h4>
                      <p>2 October 2018 welcomes District 7690 Governor Claudia Cannady to our club for her official visit.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="mix Graphic">
                <a href="assets/img/actualite/meeting.jpg">
                    <img src="assets/img/actualite/meeting.jpg" alt="" height="50">
                  <div class="item-overly">
                    <div class="position-center">
                      <h4>Rotary members meeting</h4>
                      <p>Members of the Lexington Rotary Club enjoying everyone's company and planning for the district governor meeting next week. </p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="mix design">
                <a href="assets/img/actualite/partenship.jpg">
                <img src="assets/img/actualite/partenship.jpg" alt="" height="150%">
                  <div class="item-overly">
                    <div class="position-center">
                      <h4> The Thomasville Rotary Club and Rotary Club of Lexington North Carolina parternship</h4>
                      <p>The two clubs partnered to present the annual Central Carolina Athletic Awards to regional athletes 23 May 2018.</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="mix Video">
                <a href="assets/img/actualite/scholars.jpg">
                    <img src="assets/img/actualite/scholars.jpg" alt="" height="50">
                    <div class="item-overly">
                    <div class="position-center">
                      <h4> Rotary Scholars Banquet 2018.</h4>
                      <p> Recognition of Lexington City Schools Students in Grades 8-12
                        for Outstanding Scholastic Achievement</p>
                      
                    </div>
                  </div>
                </a>
              </li>
              <li class="mix art">
                <a href="assets/img/actualite/art.jpg">
                    <img src="assets/img/actualite/art.jpg" alt="" height="50">
                  <div class="item-overly">
                    <div class="position-center">
                      <h4>Art discovery continued studies 2018.</h4>
                      <p>Student Highlights Program at Club Meeting
                    </p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- footer Start -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-manu">
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Terms</a></li>
                    </ul>
                </div>
                <p class="copyright">Copyright 2019 &copy; Design & Developed by <a href="http://www.themefisher.com">Asma Oueslati & Linda Chaabane</a>. Roatry of Lexington NC.
                  <br>
                    Get More <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank">Free Bootstrap Templates</a>
                </p>
            </div>
        </div>
    </div>
</footer>
    <!-- 
    Essential Scripts
    =====================================-->
    
    <!-- <script src="js/jquery.counterup.js"></script> -->
    
    <!-- Main jQuery -->
   
   



  </body>
  </html>