








<header class="navigation">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <!-- header Nav Start -->
              <nav class="navbar">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" class="linda" href="index.html">                
                      <img src="assets/img/rotary.png" alt="Logo" width="80em">
                      <p>Rotary of Lexington</p>
      
      
                    </a>
                  </div>
                              <!-- Collect the nav links, forms, and other content for toggling -->
                              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                  <ul class="nav navbar-nav navbar-right">
                                      <li><a  routerLink="/home">Home</a></li>
                                      <li><a  routerLink="/achievements">Achievements</a></li>
                                      <li><a  routerLink="/calender">Calender of Events</a></li>

                                      
                                     
                                      <li><a  routerLink="/contactUs">Contact US</a></li>
                                      <li><img src="assets/img/unnamed.png" alt="Logo" width="190em"  class="image">
                                      
                                  </ul>
                                  </div><!-- /.navbar-collapse -->
                                  </div><!-- /.container-fluid -->
                              </nav>
                          </div>
                      </div>
                  </div>
                  
                  </header>
                  
      
                  <router-outlet></router-outlet>
                  