<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Aviato E-Commerce Template">
  
  <meta name="author" content="Themefisher.com">

  <title>Rotary Club of Lexington | Creative Agency Bootstrap template</title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
 
 

</head>

<body id="body">


<!-- Slider Start -->
<section class="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="animated fadeInUp">  Our Rotary Foundation <br>  in action-Doing good <br>throughout the world</h1>
          <p class="animated fadeInUp">Rotary is where neighbors, friends, and problem-solvers share ideas, join leaders, and take action to create lasting change.</p>
          <a href="https://www.rotary.org/en" target="_blank" class="btn btn-main animated fadeInUp" >Rotary International Official Website</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Wrapper Start -->
<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>Rotary is a global network of 1.2 million supportive decision-makers who see a world where people come together and take action to bring about lasting change - in the world, in their communities and in themselves. </p>
            
             
            </div>
           <!---- 
          
            </p>-->
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="assets/img/inspiration.jpg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section class="feature bg-2" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <h2 class="section-subtitle">WE WORK DIFFERENTLY</h2>
        <p >We see things in an unexpected way: our multidisciplinary approach enables us to approach troubles with creativity. <br>

        We think in an unexpected way: we put our authority and aptitude at the administration of societal causes and we find imaginative arrangements. <br>
        We are capable: our enthusiasm and constancy produce enduring change. <br>
       We have an effect in our city and on the planet: our individuals are available everywhere throughout the world.</p>
      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<section class="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>What we do</h2>
        <p>Rotary members trust that we should all make a move to solve the world's most squeezing issues. <br>Our in excess of 35,000 clubs cooperate to: 

         <br> Promote peace.
          <br>Fight diseases.
         <br> Bring clean water, sanitation and hygiene.
         <br> To look after mothers and their children.
         <br> Support education.
         <br> Develop local economies.</p>
      </div>
    </div>
    
  </div>
</section>
<!-- Call to action Start -->

<section class="call-to-action bg-1 section-sm overly">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Our Mission</h2>
          <p>We serve others, and we promote integrity, mutual understanding, goodwill and peace through our network of professionals and leaders.
          </p>
          <a class="btn btn-main btn-solid-border" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content Start -->
<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>MOTTOES</h2>
        <p>"Service Above Self"</p>
        <p></p>

      </div>
    </div>
  
    <div class="row">
        <div class="block">
          <div class="col-md-5 col-md-offset-1">
            <div class="testimonial-carousel text-center">
              <div  class="testimonial-slider owl-carousel">
              
                <div>
                  <h1 id="title"> Make a donation</h1>
                  <p> Thanks to your donation, Rotary is able to provide access to safe drinking water and sanitation, give hope to people once victims of polio and provide opportunities for the most disadvantaged.</p>
                  
  <section class="contact-form">
      <div class="container">
          <div class="row">
              <form   id="contact-form" >
              
                  
                  <div class="col-md-6 col-sm-12">
                      


                      <div class="block">
                         
                          <button id="donate" class="btn btn-default"   (click)="handlePayment()" type="submit">Please Donate</button>
                          
                        
                  </div>




                  </div>
                  
              </form>
          </div>
        
      </div>
  </section>
                </div>
                </div>
              </div>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <div class="testimonial-carousel text-center">
          <div  class="testimonial-slider owl-carousel">
            <div>
              <i class="ion-quote"></i>
              <p>President</p>
              <div class="user">
                <img src="assets/img/davis.jpg" alt="Pepole">
                <p><span>Davis, Carolyn</span> Office: 336-249-8186 x6331</p>
              </div>
            </div>
            <div>
              <i class="ion-quote"></i>
              <p>President-Elect <br> Club Membership chair</p>
              <div class="user">
                <img src="assets/img/motley.JPG" alt="Pepole">
                <p><span>Motley,Sandra Cope (Mike)</span>Office: 336-249-6215 ext. 22</p>
              </div>
            </div>
            <div>
              <i class="ion-quote"></i>
              <p>President-Nominee</p>
              <div class="user">
                <img src="assets/img/becker.jpg" alt="Pepole">
                <p><span>Becker, Sara</span> Office: 336-474-1200</p>
              </div>
            </div>
            <div>
              <i class="ion-quote"></i>
              <p>Club Rotary Foundation chair <br> Club Executive Secretary <br> Secretary</p>
              <div class="user">
                <img src="assets/img/Snider.jpg" alt="Pepole">
                <p><span>Snider,Rick K (Linda)</span> </p>
              </div>
            </div>

              <div>
                <i class="ion-quote"></i>
                <p>Treasurer</p>
                <div class="user">
                  <img src="assets/img/craig.jpg" alt="Pepole">
                  <p><span>Swicegood, Craig (Kate)</span>Office: 336-224-6730 </p>
                </div>
              </div>

                <div>
                  <i class="ion-quote"></i>
                  <p>Club Service Chair</p>
                  <div class="user">
                    <img src="assets/img/tina.JPG" alt="Pepole">
                    <p><span>Royal, Tina</span> Office: 336-249-4847</p>
                  </div>
                </div>

                  <div>
                    <i class="ion-quote"></i>
                    <p>Club Program Chair</p>
                    <div class="user">
                      <img src="assets/img/husted.JPG" alt="Pepole">
                      <p><span>Husted, Robert (Sandra)</span> Office: 336-224-2621 </p>
                    </div>
                  </div>

                    <div>
                      <i class="ion-quote"></i>
                      <p>Sergeant-at-Arms</p>
                      <div class="user">
                        <img src="assets/img/hoffman.jpg" alt="Pepole">
                        <p><span>Hoffman, Walter F</span> Office: 336-224-2621 </p>
                      </div>
                    </div>

                      <div>
                        <i class="ion-quote"></i>
                        <p>Assistant Governor</p>
                        <div class="user">
                          <img src="assets/img/underwood.jpg" alt="Pepole">
                          <p><span>Underwood, G Wayne Jr</span>Office: 336-475-2191 </p>
                        </div>
                      </div>

            </div>
          </div>
        </div>
      </div>
  </div>
</section>
<section class="contact-form">
    <div class="container">
        <div class="row">
            <form   id="contact-form" >
            
                
                <div class="col-md-6 col-sm-12">
                    


                    <div class="block">
                       
                        <button id="login" (click)=in() class="btn btn-primary"> Login as a Rotary User</button>
                        
                      
                </div>




                </div>
                
            </form>
        </div>
      
    </div>
</section>
<!-- footer Start -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
        
        <p class="copyright">Copyright 2019 &copy; Design & Developed by <a href="http://www.themefisher.com">Asma Oueslati & Linda Chaabane</a>. Roatry of Lexington NC.
          <br>
          Get More <a href="https://themefisher.com/free-bootstrap-templates/" target="_blank">Free Bootstrap Templates</a>
        </p>
      </div>
    </div>
  </div>
</footer>

    <!-- 
    Essential Scripts
    =====================================-->
    
    <!-- <script src="js/jquery.counterup.js"></script> -->
    
    <!-- Main jQuery -->
   
    <script src="https://code.jquery.com/jquery-git.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="./node_modules/bootstrap/dist/js/script.js" ></script>

    


    <!-- Form Validator -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
   

    
    <!-- Google Map -->
  
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    

    <script src="js/script.js"></script>
 



  </body>
  </html>
   
